<h1>{{title}}</h1>
<main>
    <form id="location-search-form" action="/" method="POST">
        <label for="ipInput">
            I.P address:
        </label>
        <br>
        <br>
        <input id="ipInput" name="ip" type="text" value="" placeholder="Enter I.P. to search">
        <br>
        <br>
        <button type="submit">Get location</button>
    </form>
</main>