<h1>{{title}}</h1>
<main class="location-search-main">
    <form id="location-search-form" action="/" method="POST">
        <label for="ipInput" id="ipInputLabel">
            I.P address:
        </label>
        <br>
        <br>
        <input id="ipInput" name="ip" type="text" value="" placeholder="Enter I.P. to search">
        <br>
        <br>
        <button type="submit">Get location</button>
    </form>
    <br>
    <br>
    <a href="/history" class="back-button" type="text/html">Get location history</a>
</main>